<div class="multiselect-include-exclude" ng-class="{'multiselectreadonly': readMode, 'has-error': hasError }">
  <div ng-hide="!loadingData" class="form-control loading" ng-class="{'readonly': readMode }"><i class="fa fa-spinner fa-pulse fa-fw"></i></div>
  <div ng-show="!loadingData && allSelected && readMode" style="height: 34px;line-height:34px;">{{::selectAllMessage}}</div>
  <div ng-show="!loadingData && allSelected && !readMode" style="height: 34px;line-height:34px;"></div>
  <div ng-show="!loadingData && !allSelected" class="form-control multiselect-body" ng-class="{'multiselectreadonly': readMode}"
    ng-click="$event.preventDefault();$event.stopPropagation();" uib-popover="{{errorMessage}}" popover-trigger="'mouseenter'"
    popover-placement="{{errorPlacement}}" popover-enable="hasError">
    <span class="placeholder" style="height: 34px;" data-ng-if="ctrlMultiSelectIncludeExclude.selectedItems().length <= 0">{{::emptyText}}</span>
    <div ng-repeat="item in displayList | filter: {'isNew': true} | orderBy : displayProperty" ng-show="!loadingData && !allSelected && !readMode" class="multiselect-badge form-control new-item" ng-class="{'isIncluded': item.included || item.included === undefined,'isExcluded': !item.included && item.included != undefined}"
      ng-click="$event.preventDefault();$event.stopPropagation();">
      <span>{{item[displayProperty]}}</span>
      <i class="fa fa-times" ng-click="ctrlMultiSelectIncludeExclude.onSelectItem(item,false);$event.preventDefault();$event.stopPropagation();"></i>
    </div>
    <div ng-repeat="item in displayList | filter: {'isNew': '!'} | orderBy : displayProperty" ng-show="!loadingData && !allSelected && !readMode" class="multiselect-badge form-control" ng-class="{'isIncluded': item.included || item.included === undefined,'isExcluded': !item.included && item.included != undefined}"
      ng-click="$event.preventDefault();$event.stopPropagation();">
      <span>{{item[displayProperty]}}</span>
      <i class="fa fa-times" ng-click="ctrlMultiSelectIncludeExclude.onSelectItem(item,false);$event.preventDefault();$event.stopPropagation();"></i>
    </div>
    <span data-ng-if="ctrlMultiSelectIncludeExclude.selectedItems().length > 0 && readMode" ng-click="$event.preventDefault();$event.stopPropagation();">
      <div ng-repeat="item in displayList | orderBy : displayProperty" class="multiselect-badge form-control readonly" ng-click="$event.preventDefault();$event.stopPropagation();" ng-class="{'isIncluded': item.included || item.included === undefined,'isExcluded': !item.included && item.included != undefined}">
        <span>{{item[displayProperty]}}</span>
      </div>
    </span>
  </div>
  <div class="multiselect-button-ribbon" style="width:100%" data-ng-if="!readMode">
    <button type="button" class="button button--50percent" ng-click="ctrlMultiSelectIncludeExclude.clickHandler($event,'dom', true);" ng-hide="onlyExclude || onlyInclude || firstPickSticks">Include</button>
    <button type="button" class="button button--50percent" ng-click="ctrlMultiSelectIncludeExclude.clickHandler($event,'dom', false);" ng-hide="onlyExclude || onlyInclude || firstPickSticks">Exclude</button>
    <button type="button" class="button button--50percent" ng-class="{'button--100percent': onlyInclude || (firstPickSticks && ctrlMultiSelectIncludeExclude.selectedItems().length > 0 && (ctrlMultiSelectIncludeExclude.selectedItems()[0].included || ctrlMultiSelectIncludeExclude.selectedItems()[0].included === undefined))}" ng-hide="onlyExclude || firstPickSticks || (!onlyExclude && !onlyInclude && !firstPickSticks)" ng-click="ctrlMultiSelectIncludeExclude.clickHandler($event,'dom', true);">Include</button>
    <button type="button" class="button button--50percent" ng-class="{'button--100percent': onlyInclude || (firstPickSticks && ctrlMultiSelectIncludeExclude.selectedItems().length > 0 && (ctrlMultiSelectIncludeExclude.selectedItems()[0].included || ctrlMultiSelectIncludeExclude.selectedItems()[0].included === undefined))}" ng-hide="onlyInclude || firstPickSticks || (!onlyExclude && !onlyInclude && !firstPickSticks)" ng-click="ctrlMultiSelectIncludeExclude.clickHandler($event,'dom', false);">Exclude</button>  
    <button type="button" class="button button--50percent" ng-class="{'button--100percent': onlyInclude || (firstPickSticks && ctrlMultiSelectIncludeExclude.selectedItems().length > 0 && (ctrlMultiSelectIncludeExclude.selectedItems()[0].included || ctrlMultiSelectIncludeExclude.selectedItems()[0].included === undefined))}" ng-hide="(onlyExclude || onlyInclude) || !((firstPickSticks && (ctrlMultiSelectIncludeExclude.selectedItems().length <= 0 || ctrlMultiSelectIncludeExclude.selectedItems().length === undefined)) || (firstPickSticks && ctrlMultiSelectIncludeExclude.selectedItems().length > 0 && (ctrlMultiSelectIncludeExclude.selectedItems()[0].included || ctrlMultiSelectIncludeExclude.selectedItems()[0].included === undefined)))" ng-click="ctrlMultiSelectIncludeExclude.clickHandler($event,'dom', true);">Include</button>
    <button type="button" class="button button--50percent" ng-class="{'button--100percent': onlyExclude || (firstPickSticks && ctrlMultiSelectIncludeExclude.selectedItems().length > 0 && (!ctrlMultiSelectIncludeExclude.selectedItems()[0].included && ctrlMultiSelectIncludeExclude.selectedItems()[0].included != undefined))}" ng-hide="(onlyExclude || onlyInclude) || !((firstPickSticks && (ctrlMultiSelectIncludeExclude.selectedItems().length <= 0 || ctrlMultiSelectIncludeExclude.selectedItems().length === undefined)) || (firstPickSticks && ctrlMultiSelectIncludeExclude.selectedItems().length > 0 && (!ctrlMultiSelectIncludeExclude.selectedItems()[0].included && ctrlMultiSelectIncludeExclude.selectedItems()[0].included != undefined)))" ng-click="ctrlMultiSelectIncludeExclude.clickHandler($event,'dom', false);">Exclude</button>
    <button type="button" class="button button--100percent button--alert" ng-click="ctrlMultiSelectIncludeExclude.unCheckAll();$event.preventDefault();$event.stopPropagation();">Clear all</button>
  </div>
  <div data-ng-if="ctrlMultiSelectIncludeExclude.editMode && !readMode && !allSelected" class="popover multiselect-popover" ng-class="{'left': displayLocation === 'left', 'right': displayLocation !== 'left','is-include': ctrlMultiSelectIncludeExclude.isInclude,'is-exclude': !ctrlMultiSelectIncludeExclude.isInclude}">
    <div data-ng-if="!selectAllDisabled" class="input-group">
      <input id="searchbar" type="text" ng-disabled="disableSearch" ng-if="showSearchbar" ng-change="ctrlMultiSelectIncludeExclude.updateSearch(search)"
        ng-model="$parent.$parent.$parent.search" class="popover-search form-control" ng-model-options="{debounce:333}" placeholder="Search"/>
      <span class="input-group-btn">
        <button id="single-button" ng-click="ctrlMultiSelectIncludeExclude.checkAll()" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled || search">
          Select all
        </button>
      </span>
    </div>
    <input ng-if="selectAllDisabled && showSearchbar" id="searchbar" type="text" ng-disabled="disableSearch" ng-change="ctrlMultiSelectIncludeExclude.updateSearch(search)"
        ng-model="$parent.$parent.search" class="popover-search form-control" ng-model-options="{debounce:333}" placeholder="Search"/>


    <virtual-list-include-exclude ui-data-provider="$parent.sourceCopy" display-property="{{::displayProperty}}" select-all="ctrlMultiSelectIncludeExclude.selectAll" disabled="disabled" readonly-mode="$parent.readMode"
      search-Crit="ctrlMultiSelectIncludeExclude.searchcrit" only-selected="ctrlMultiSelectIncludeExclude.showOnlySelected" on-select="ctrlMultiSelectIncludeExclude.onSelectItem(item,value)"
      ng-model="ngModel">
    </virtual-list>
  </div>
</div>