<div class="canvas" ng-style="canvasHeight">
  <div class="renderer" 
       ng-repeat="item in visibleProvider" 
       ng-click="onClickOption(item)" 
       ng-style="item.styles" 
       ng-class="{selected: (currentOption.value == item.value)}">
    <li  ng-class="{'index-1':item.index===1 && !readonlyMode,'index-2':item.index===2 && !readonlyMode}">
      <span ng-if="!readonlyMode" ng-class="{'ul-close':item.isClosed,visible:visibleProvider[$index+1].index > item.index || item.hasChildren}" class="add-arrow" ng-click="openClose($event,item)"></span>
        <div class="item-detail"
        	ng-class="{check:!readonlyMode, checked:item.isChecked, unchecked:!item.isChecked && !item.indeterminate, indeterminate:item.indeterminate}" 
        	ng-click="selectItem(item);$event.stopPropagation();$event.preventDefault();">{{::item[displayProperty]}}</div>
      </li>
  </div>
</div>